In [1]:
import pandas as pd
dataframe = pd.read_csv("/Users/jfeng1/BiogenDB/Evotec/test.csv")

In [11]:
def batchId2CorporateId(row):
    return row['Name'][0:11]

dataframe['Corporate ID'] = dataframe.apply(lambda row:batchId2CorporateId(row),axis = 1)
dataframe

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>Name</th>
      <th>Corporate ID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>BIO-1234567-01</td>
      <td>BIO-1234567</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>BIO-1234567-02</td>
      <td>BIO-1234567</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>BIO-1234567-03</td>
      <td>BIO-1234567</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>BIO-1234567-04</td>
      <td>BIO-1234567</td>
    </tr>
  </tbody>
</table>
</div>